<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<property name="RRTV_PATTERN" value="[%d{'yyyy-MM-dd HH:mm:ss,SSS'}]  [%p]  [%t] [%C: %L] - [%X{EagleEye-TraceID}] %m%n"/>
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
	<property name="ERROR_FILE" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/error.log"/>
	<property name="FATAL_FILE" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/fatal.log"/>
	<property name="USER_PRIVILEGES_LOG_FILE" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/userPrivileges.log"/>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${RRTV_PATTERN}</pattern>
		</encoder>
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter"><!-- 只打印WARN+ERROR日志 -->
			<level>INFO</level>
		</filter>
	</appender>
	<appender name="ERRORFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${RRTV_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<file>${ERROR_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${ERROR_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印WARN+ERROR日志 -->
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<appender name="FATALFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${RRTV_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<file>${FATAL_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${FATAL_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印INFO日志 -->
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	
	<appender name="USER_PRIVILEGES_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${RRTV_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<file>${USER_PRIVILEGES_LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_PRIVILEGES_LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	
	<logger name="userPrivileges" level="INFO" additivity="false">
		<appender-ref ref="USER_PRIVILEGES_LOG_FILE" />
	</logger>
	
	<root level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="ERRORFILE"/>
		<appender-ref ref="FATALFILE"/>

	</root>
</configuration>